mmongodb://admin_paket:mongodb+srv://admin_paket:R0RzSXvLSDYNp7PS@cluster0.5zrevvj.mongodb.net/?pilar=Cluster0
JWT_SECRET=MenjadiMilyarderMutlakTahunIni
JWT_EXPIRES_IN=7d
NODE_ENV=Production
CLIENT_URL=https://pilar-api-cye9.vercel.app/api
